# Supabase Database
DB_URL=jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:5432/postgres
DB_USERNAME=postgres.gqzsqlnpshscijkbmrly
DB_PASSWORD=YOUR_SUPABASE_DATABASE_PASSWORD

# JWT
JWT_SECRET=YOUR_64_BYTE_RANDOM_SECRET